.jumbotron, .navbar {
    background: transparent !important;
}

.picContainer {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .picContainer:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .text a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .textWithDeployed a:first-child {
      margin-right: 5px;
      border-right: 1px solid white;
      padding-right: 5px;
  }

.text:visited {
    color: none;
}

.col-md-6, .col-md-4 {
    padding: 0;
}

.backend {
    margin-top: 50px;
}